<h3> État actuel du bac {{this.bac.id}} </h3>
<p>Température {{this.bac.temperature}}°C</p>
<p>Taux d'humidité {{this.bac.tauxHumidite}}%</p>
<p>Taux de luminosité {{this.bac.tauxLuminosite}}%</p>
<br>

<h3>Les alertes en cours sur du bac {{this.bac.id}} </h3>

<p>La température doit être comprise entre {{this.bac.temperatureVoulu[0]}}°C et {{this.bac.temperatureVoulu[1]}}°C</p>
<p>Le taux d'humidité doit être compris entre {{this.bac.tauxHumiditeVoulu[0]}}% et {{this.bac.tauxHumiditeVoulu[1]}}%</p>
<p>Le taux de luminosité doit être compris entre {{this.bac.tauxLuminositeVoulu[0]}}% et {{this.bac.tauxLuminositeVoulu[1]}}%</p>
